.navbar {
	font-size: 16px;
}

.quick-link {
    margin-bottom: 10px;
}

table.tablesorter thead tr .header {
	cursor: pointer;
}

.btn-edit {
	display: inline-block;
}

.error {
	font-style: italic;
	color: #FF0000;
}