.navbar {
	font-size: 16px;
}

.quick-link {
    margin-bottom: 10px;
}

table.tablesorter .tablesorter-header-inner {
	cursor: pointer;
	cursor: hand;
}

.btn-edit {
	display: inline-block;
}

.error {
	font-style: italic;
	color: #FF0000;
}

.list-item {
	cursor: pointer;
	cursor: hand;
}